body
{
  font-family:Raleway, sans-serif;
  text-align:center;
  font-size:25px;
}

h1
{
  font-size:70px;
}

h2
{
  font-size:40px;
}

.fa-bomb
{
  font-size:100px;
  cursor:pointer;
}

.slate-grey
{
  background-color:#708090;
  color:#FFF;
}

#first
{
  text-align:center;
  margin-top:200px;
}

.title
{
  font-family:Raleway, sans-serif;
  font-size:70px;
}

.unselectable
{
  -moz-user-select:0;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -o-user-select:none;
  user-select:none;
}

#download
{
  color:#FFF;
  display:block;
  border-radius:5px;
  border:3px solid #FFF;
  width:150px;
  background-color:#5a6773;
  cursor:pointer;
  text-decoration:none;
  margin:10px auto;
  padding:10px;
}

#download:hover
{
  text-decoration:underline;
}

#down
{
  font-size:30px;
  position:absolute;
  opacity:0.5;
  color:#FFF;
  left:0;
  bottom:20px;
  width:100%;
}

.fa-chevron-down
{
  cursor:pointer;
}

.code
{
  color:#708090;
  text-align:left;
}

#explode-me
{
  height:123px;
  line-height:123px;
  width:123px;
  font-size:19px;
  margin:0 auto;
}

a
{
  color:#FFF;
  text-decoration:underline;
}